<ion-view view-title="Create">
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Age">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Company email/Your mail">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password">
        </label>
      </div>
      <ion-list>

        <ion-checkbox ng-model="filter.worker">Worker</ion-checkbox>
        <ion-checkbox ng-model="filter.teamLeader">Team Leader</ion-checkbox>

        <button class="button button-positive" align="center">
          Submit
        </button>


      </ion-list>
    </ion-content>
  </ion-view>
